In [20]:
import pandas as pd
import numpy as np
from tabulate import tabulate

In [21]:
df_peliculas = pd.read_csv('DATA_LIMPIO.csv')

In [22]:
df_fun = df_peliculas.groupby(["Genero"]).agg({'Ventas': ['sum', 'count', 'mean', 'min', 'max']})

In [23]:
df_fun = df_fun.reset_index()

In [24]:
df_fun.columns = ['Genero', 'Suma_Total_Ventas', 'Conteo_Genero', 'Promedio_Ventas', 'Ventas_Minima', 'Ventas_Maximas']

In [25]:
df_fun

,Genero,Suma_Total_Ventas,Conteo_Genero,Promedio_Ventas,Ventas_Minima,Ventas_Maximas
0,Aventura,916474,179,5119.966480,50,9868
1,Belico,90821,18,5045.611111,335,9547
2,Comedia,5442264,1089,4997.487603,12,9991
3,Cortometraje,5848,1,5848.000000,5848,5848
4,Crimen,1354125,261,5188.218391,53,9973
5,Documental,1922012,400,4805.030000,3,9988
6,Fantasia,105535,25,4221.400000,612,9831
7,Fantasia,157942,30,5264.733333,107,9751
8,Guerra,90082,23,3916.608696,35,9694
9,Historia,204544,38,5382.736842,53,9733
10,Horror,60624,9,6736.000000,961,9266
11,Musical,501717,109,4602.908257,16,9940
12,Suspenso,99769,23,4337.782609,71,9537
13,Terror,1346289,276,4877.858696,11,9999
14,Western,367383,70,5248.328571,62,9806