In [13]:
import pandas as pd

In [14]:
df_peliculas = pd.read_csv('PELICULASMINERIA.csv')

In [15]:
df_peliculas

,Titulo,Estreno,Duracion,Ventas,Genero
0,2012,5/20/2019,136,9937,Accion
1,Blood Wedding,6/19/2022,160,4514,Drama
2,Ella Lola,6/30/2021,184,8642,Comedia
3,In Search of the Ravishing Princess Herzelinde,10/09/2019,65,499,Comedia
4,Pokemon Detective Pikachu,05/10/2023,103,7806,Ciencia Ficcion
...,...,...,...,...,...
4995,Zoolander,2/18/2001,159,1010,Comedia
4996,Zootropolis,3/21/2016,68,9427,Animacion
4997,Zorba the Greek,06/11/2021,89,1747,Musical
4998,Zozo,03/10/2023,89,990,Guerra
4999,Zulu Dawn,8/24/2021,134,5341,Guerra

In [16]:
df_peliculas['Titulo'].value_counts()

Titulo
Revolt of the Zombies    2
Mama                     2
Balto                    2
Persuasion               2
Eden                     2
                        ..
God on Trial             1
God Is Brazilian         1
God Grew Tired of Us     1
Go Tigers!               1
Zulu Dawn                1
Name: count, Length: 4975, dtype: int64

In [17]:
valores_repetidos = df_peliculas[df_peliculas.duplicated(subset='Titulo', keep=False)]['Titulo']
print(valores_repetidos.unique())

['Atenea' 'Attack of the 50 Ft. Woman' 'Balto' 'Eden' 'Frozen'
 'Ghoulies IV' 'King Kong' 'Mama' 'Minion' 'Ministry of Fear'
 'Misterio a la vista' 'Moana' 'Persuasion' 'Psycho II' 'Rampage'
 'Red Dust' 'Reservation Road' 'Revolt of the Zombies' 'Rocky III'
 'Sabata' 'Snow Dogs' 'The Search' 'The Towering Inferno' 'This Christmas'
 'Tootsie']

In [18]:
df_peliculas['Titulo'] = df_peliculas['Titulo'].drop_duplicates()
num_valores_unicos = len(df_peliculas['Titulo'].unique())

In [19]:
print("DataFrame con valores repetidos eliminados:")
print(df_peliculas)
print(f"Número de valores únicos en la columna 'Titulo': {num_valores_unicos}")

DataFrame con valores repetidos eliminados:
                                               Titulo     Estreno  Duracion  \
0                                                2012   5/20/2019       136
1                                       Blood Wedding   6/19/2022       160
2                                           Ella Lola   6/30/2021       184
3      In Search of the Ravishing Princess Herzelinde  10/09/2019        65
4                           Pokemon Detective Pikachu  05/10/2023       103
...                                               ...         ...       ...
4995                                        Zoolander   2/18/2001       159
4996                                      Zootropolis   3/21/2016        68
4997                                 Zorba the Greek   06/11/2021        89
4998                                             Zozo  03/10/2023        89
4999                                        Zulu Dawn   8/24/2021       134

      Ventas           Genero
0       9937           Accion
1       4514            Drama
2       8642         Comedia
3        499         Comedia
4       7806  Ciencia Ficcion
...      ...              ...
4995    1010         Comedia
4996    9427        Animacion
4997    1747          Musical
4998     990           Guerra
4999    5341           Guerra

[5000 rows x 5 columns]
Número de valores únicos en la columna 'Titulo': 4976

In [23]:
palabras_a_eliminar = ["acni", "mis", "dep", "draa", "thr", "acc", "da", "rom", "cm", "ani", "cien", "dra"]

In [24]:
df_filtrado = df_peliculas[~df_peliculas["Genero"].str.lower().str.contains('|'.join(palabras_a_eliminar))]

In [25]:
df_filtrado.to_csv('DATA_LIMPIO', index=False)